* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
body {
  background-color: #eee;
}
.card {
  width: 23%;
  height: 200px;
  background-color: rgb(255, 0, 0);
  border-radius: 10px;
  margin: 15px 0;
}
.menu-btn {
  display: none;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .card {
    width: 30%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .card {
    width: 48%;
  }
}
@media (min-width: 0px) and (max-width: 575px) {
  .card {
    width: 100%;
  }
}
